# API settings
PORT=3000

# Database settings for local development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tech_challenge_blog?schema=public"

# PostgreSQL Container settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tech_challenge_blog
